torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
huggingface-hub>=0.33.4
transformers>=4.40.0
tokenizers>=0.19.0
sentence-transformers>=3.0.0
datasets>=2.14.0
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0
langchain==0.3.26
langchain-core==0.3.71
langchain-community==0.3.27
langchain-huggingface==0.3.1
langchain-openai==0.3.28
langchain-text-splitters==0.3.8
langchain-experimental==0.3.4
faiss-cpu>=1.7.0
pypdf>=4.0.0
python-dotenv>=1.0.0
openai>=1.86.0,<2.0.0
requests>=2.28.0
langchain-deepseek==0.1.4
streamlit
